/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* Color scheme */
/* 
#050A30 - Dark Blue
#000C66 - Navy Blue
#0000FF - Blue
#7EC8E3 - Baby Blue
*/

/* CSS Variables */
:root {
  --primary-font: "Oswald", sans-serif;
  --secondary-font: "Lato", sans-serif;
  --primary-color: #050a30; /* dark blue */
  --secondary-color: #000c66; /* navy blue */
  --highlight-color: #0000ff; /* blue */
  --highlight-color-light: #7ec8e3; /* light blue */
}

/* Global styles */

body {
  font-family: var(--primary-font);
  padding-top: 80px;
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);

  text-transform: uppercase;
}

.sub-heading-color {
  color: var(--highlight-color);
}

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Navbar */

#navbar {
  background-color: var(--primary-color);
width: 100%;

}
#navbar a {
  /* color: black; */
}
#navbar .logo {
  width: 50px;
 
}
